* {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    justify-content: space-around;
    background-color: #4a523d;
}

#canvas {
    display: flex;
    background-image: url("../img/bgc.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#time {
    
    width: 140px;
    height: 90px;
    color: white;
    
}

#score {
    width: 140px;
    height: 90px;
    color: white;
}
